## EXERCISES

#### Exercise 1

In [ ]:
name = input('who are you?')
print ('Hello and welcome' , name)

who are you?ella
Hello and welcome ella

#### Exercise 2

In [ ]:


x = 35
y = 2.75
p = x*y

print('Enter Hours' ,x)
print('Enter Rate' ,y)
print("Pay= ", p)

Enter Hours 35
Enter Rate 2.75
Pay=  96.25

In [ ]:
x = float(input('Enter Hours: '))
y = float(input('Enter Rate: '))
p = x * y

print('Enter Hours:', x)
print('Enter Rate:', y)
print("Pay =", p)

##I made it more flexible to any input

Enter Hours: 40
Enter Rate: 8
Enter Hours: 40.0
Enter Rate: 8.0
Pay = 320.0

#### Exercise 3

Assume that we execute the following assignment statements:
```python
width = 17
height = 12.0
```
For each of the following expressions, write the value of the expression and the type (of the value of the expression).
```python
width//2
width/2.0
height/3
1 + 2 * 5
```

[PEW] E2.4

In [ ]:
width = 17
height = 12.0

In [ ]:
width = 17
height = 12.0

# Expression 1
result1 = width // 2
print("Expression 1: Value =", result1, ", Type =", type(result1))

# Expression 2
result2 = width / 2.0
print("Expression 2: Value =", result2, ", Type =", type(result2))

# Expression 3
result3 = height / 3
print("Expression 3: Value =", result3, ", Type =", type(result3))

# Expression 4
result4 = 1 + 2 * 5
print("Expression 4: Value =", result4, ", Type =", type(result4))

Expression 1: Value = 8 , Type = <class 'int'>
Expression 2: Value = 8.5 , Type = <class 'float'>
Expression 3: Value = 4.0 , Type = <class 'float'>
Expression 4: Value = 11 , Type = <class 'int'>

#### Exercise 4

Write a program that uses input to prompt a user for a number and then outputs the square of the number
```
Enter a number: 3
The square of 3 is 9
```

In [ ]:

number = float(input("Enter a number: "))
square = number ** 2

print("The square of", number, "is", square)

Enter a number: 3
The square of 3.0 is 9.0

## CHALLENGE

Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the converted temperature.

[PEW] E2.5

In [ ]:

celsius = float(input("Enter a temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32

print("The temperature in Fahrenheit is:", fahrenheit)

Enter a temperature in Celsius: 42
The temperature in Fahrenheit is: 107.6